name: CI

on:
  pull_request:
  push:
    branches: [master]
  workflow_dispatch:

jobs:
  tests:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/nix-installer-action@main
      - run: nix develop --command just test
